body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1e88e5;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

section {
  padding: 20px;
}

footer {
  background-color: #1e88e5;
  color: white;
  text-align: center;
  padding: 10px;
}
